<ng-container *ngIf="event">
    <app-header isBackButton="true" componentType="just-text">{{ event.name }}</app-header>

    <ion-content>
        <ion-card>
            <img [src]="event.photo" alt="Foto do Evento">
            <ion-card-header>
            <ion-card-title>{{ event.name }}</ion-card-title>
            <ion-card-subtitle>{{ event.date | date: 'dd MMM yyyy' }} - {{event.place}}</ion-card-subtitle>
            </ion-card-header>
        
            <!-- <ion-card-content>
            <p>{{ event.description }}</p>
            </ion-card-content> -->
        </ion-card>

        <ion-item>
            <ion-label>
              <h2>Descrição</h2>
              <p class="ion-text-wrap">{{ event.description }}</p>
            </ion-label>
          </ion-item>
        <ion-button color="primary" expand="full" (click)="doSomething()" style="padding-left: 2%; padding-right: 2%; justify-content: end;">Inscrever</ion-button>
    </ion-content>
</ng-container>