<ng-container *ngIf="event">
    <app-header isBackButton="true" componentType="just-text">{{ event.name }}</app-header>

    <ion-content>
        <ion-card>
            <img [src]="event.photo" alt="Foto do Evento">
            <ion-card-header>
            <ion-card-title>{{ event.name }}</ion-card-title>
            <ion-card-subtitle>{{ event.date | date: 'dd MMM yyyy' }} - {{event.place}}</ion-card-subtitle>
            </ion-card-header>
        </ion-card>

        <ion-item>
            <ion-label>
              <h2>Descrição</h2>
              <p class="ion-text-wrap">{{ event.description }}</p>
            </ion-label>
          </ion-item>
        <ng-container *ngIf="is_owner===false && is_subscribed===false">
          <ion-button color="primary" expand="full" (click)="subscribeToEvent()" 
          style="padding-left: 2%; padding-right: 2%; justify-content: end;">Inscrever</ion-button>
        </ng-container>

        <ng-container *ngIf="is_owner===false && is_subscribed===true">
          <ion-button color="primary" expand="full" (click)="unsubscribeFromEvent()" 
          style="padding-left: 2%; padding-right: 2%; justify-content: end;">Desinscrever</ion-button>
        </ng-container>

        <ng-container *ngIf="is_owner===true">
          <ion-button color="primary" expand="full" id="open-modal"
          style="padding-left: 2%; padding-right: 2%; justify-content: end;">Editar</ion-button>

          <div class="ion-padding">
            <div class="list-title">
              <h2>Participantes</h2>
            </div>

            <ion-list>
              <ion-item *ngFor="let participant of event.participants" class="margin-y-1">
          
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="{{ participant.contact.photo }}" />
                </ion-avatar>
                <ion-label>{{ participant.contact.name }} </ion-label>

                <!-- TODO: Add logic to check participant checkin status -->
                <ng-container *ngIf="participant.checkin_status===false">
                  <ion-button shape="round" fill="outline" color="tertiary" (click)="doCheckin(participant.contact.photo, participant.user_id)">Realizar check-in</ion-button>
                </ng-container>
                <ng-container *ngIf="participant.checkin_status===true">
                  <ion-button color="success" [disabled]="true" shape="round">Checkin realizado</ion-button>
                </ng-container>              
          
              </ion-item>
            </ion-list>
          </div>

          <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                  </ion-buttons>
                  <ion-title>Editando {{ event.name }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
      
      
                    <ion-item>
                      <ion-label position="floating" color="dark">Titulo</ion-label>
                      <ion-input label="" autocomplete="off" type="text" [(ngModel)]="eventPostData.name" name="name"></ion-input>
                    </ion-item>
      
                    <ion-item>
                      <ion-label position="floating">Descrição</ion-label>
                      <ion-input label="" autocomplete="off" type="text" [(ngModel)]="eventPostData.description" name="description"></ion-input>
                    </ion-item>
                    
                    <ion-item>
                      <ion-label>Data</ion-label>
                      <ion-datetime
                        name="date"
                        id="datetime"
                        mode="ios"
                        locale="pt-BR"
                        color="secondary"
                        [(ngModel)]="eventPostData.date"
                        [max]="2030-01-01"
                      ></ion-datetime>
                    </ion-item>
      
            
                    <ion-item>
                      <ion-label position="floating" color="dark">Limite de inscrições</ion-label>
                      <ion-input label="" autocomplete="off" type="number" [(ngModel)]="eventPostData.max_capacity" name="max_capacity"></ion-input>
                    </ion-item>
            
                    <ion-item>
                      <ion-label position="floating" color="dark">Local</ion-label>
                      <ion-input label="" autocomplete="off" type="text" [(ngModel)]="eventPostData.place" name="place"></ion-input>
                    </ion-item>
      
      
              </ion-content>
            </ng-template>
          </ion-modal>

        </ng-container>

    </ion-content>
    </ng-container>