<ng-container *ngIf="event">
    <app-header isBackButton="true" componentType="just-text">{{ event.name }}</app-header>

    <ion-content>
        <ion-card>
            <img [src]="event.photo" alt="Foto do Evento">
            <ion-card-header>
            <ion-card-title>{{ event.name }}</ion-card-title>
            <ion-card-subtitle>{{ event.date | date: 'dd MMM yyyy' }} - {{event.place}}</ion-card-subtitle>
            </ion-card-header>
        </ion-card>

        <ion-item>
            <ion-label>
              <h2>Descrição</h2>
              <p class="ion-text-wrap">{{ event.description }}</p>
            </ion-label>
          </ion-item>
        <ng-container *ngIf="is_owner===false && is_subscribed===false">
          <ion-button color="primary" expand="full" (click)="subscribeToEvent()" 
          style="padding-left: 2%; padding-right: 2%; justify-content: end;">Inscrever</ion-button>
        </ng-container>

        <ng-container *ngIf="is_owner===true">
          <ion-button color="primary" expand="full" (click)="editEvent()" 
          style="padding-left: 2%; padding-right: 2%; justify-content: end;">Editar</ion-button>
        </ng-container>
        
        <ng-container *ngIf="is_subscribed===true">
          <ion-button color="primary" expand="full" (click)="unsubscribeFromEvent()" 
          style="padding-left: 2%; padding-right: 2%; justify-content: end;">Desinscrever</ion-button>
        </ng-container>

    </ion-content>
</ng-container>