# Arquivos gerados pelo build
build/
dist/
/postgres-data

# Dependências instaladas
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Outros arquivos gerados pelo editor ou sistema operacional
.vscode/
.DS_Store
Thumbs.db
