<ion-header class="ion-text-center">
  <a routerLink="/"><img src="assets/eventhis_logo_horizontal_white.svg"></a>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header color="light" class="margin-bottom-1 padding-y-1-5">
            <ion-card-title>Entre em sua conta</ion-card-title>
          </ion-card-header>

          <ion-card-content class="margin-bottom-1">
            <form (ngSubmit)="login()" ngNativeValidate>
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input label="" autocomplete="off" type="email" [(ngModel)]="postData.email" name="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating" color="dark">Senha</ion-label>
                <ion-input label="" autocomplete="off" type="password" [(ngModel)]="postData.password" name="password"></ion-input>
              </ion-item>

              <ion-button expand="full" type="submit">Entrar</ion-button>
            </form>
          </ion-card-content>

          <ion-card-content>
            <div class="register-link">
              <p>Não tem uma conta? <a routerLink="/register">Registrar</a></p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
