<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-card">
    <ion-card>
      <ion-card-header color="light">
        <ion-card-title>Fazer Login</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating" color="dark">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>
  
        <ion-button expand="full" (click)="login()">Entrar</ion-button>
  
        <div class="register-link">
          <p>Não tem uma conta? <a routerLink="/register">Registrar</a></p>
        </div>
      </ion-card-content>
    </ion-card>


  </div>
  
</ion-content>
