a { cursor: pointer; }

.app-container {
    position: relative;
    min-height: 350px;
    display: flex;
    align-items: center;
}

.main-logo-container {
    position: relative;
    align-items: center;
    padding-top: 50px;
    top: 70%;
    left: 50%;
}

.container {
    position: relative;
  }

.logo {
    position: absolute;
    top: 100%;
    left: 50%;

    /* Estilos para o logo */
  }