<app-header></app-header>

<ion-content class="ion-no-padding">
<ion-content class="ion-no-padding">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Arraste para atualizar..."
      refreshingSpinner="crescent"
      refreshingText="Atualizando..."
    ></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding box-shadow">
    <div class="list-title">
      <h1>Pode te interessar</h1>
    </div>
    
    <swiper-container 
      [modules]="swiperModules"
      [slidesPerView]="1.15"
      [loop] = "false">
      <swiper-slide *ngFor="let evento of eventos">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="9" class="ion-text-start light-contrast">
                <h3><strong>{{ evento.titulo }}</strong></h3>
                <p class="subtitle">{{ evento.data | date: 'dd MMM yyyy' }} - {{evento.titulo}}</p>
                <p class="subtitle">by Event Organizer</p>
              </ion-col>
              <ion-col size="3">
                <img [src]="evento.imagem" alt="Image" width="100%" height="auto">
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>    
      </swiper-slide>
    </swiper-container>
  </div>
  
  <!-- Divisão com fundo branco -->
  <div class="section-divider"></div>
  
  <div class="ion-padding">
    <div class="list-title">
      <h1>Também pode te interessar</h1>
    </div>
    
    <swiper-container 
      [modules]="swiperModules"
      [slidesPerView]="1.15"
      [loop] = "false">
      <swiper-slide *ngFor="let evento of eventos">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="9" class="ion-text-start light-contrast">
                <h3><strong>{{ evento.titulo }}</strong></h3>
                <p class="subtitle">{{ evento.data | date: 'dd MMM yyyy' }} - {{evento.titulo}}</p>
                <p class="subtitle">by Event Organizer</p>
              </ion-col>
              <ion-col size="3">
                <img [src]="evento.imagem" alt="Image" width="100%" height="auto">
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>    
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
