<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/eventhis_logo_horizontal_white.svg" alt="" class="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Arraste para atualizar..."
      refreshingSpinner="crescent"
      refreshingText="Atualizando..."
    ></ion-refresher-content>
  </ion-refresher>

  <div class="list-title">
    <h1>Amigos</h1>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let friend of friends" class="margin-y-1">

      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="{{ friend.image }}" />
      </ion-avatar>
      <ion-label>{{ friend.name }} </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
