.profile-card {
    padding: 10px;
  }
  
  .profile-photo {
    max-width: 100%; /* Largura máxima em relação à largura da tela */
    max-height: 100%; /* Altura automática para manter a proporção da imagem */
    object-fit: cover; /* Para manter a proporção da imagem */
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha verticalmente ao centro */
  }
  
  h1 {
    font-size: 24px; /* Tamanho de fonte maior para o nome */
    margin-top: 0; /* Remover margem superior padrão do h1 */
  }
  