<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header color="light" class="padding-y-1-5">
            <ion-card-title>Registrar-se</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <form (ngSubmit)="register()" ngNativeValidate>
              <ion-item>
                <!-- <ion-label position="floating" color="dark">Nome</ion-label> -->
                <ion-input labelPlacement="floating" autocomplete="off" type="text" [(ngModel)]="postData.name" name="name">
                  <div slot="label">Nome <ion-text color="danger">*</ion-text></div>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-input labelPlacement="floating" autocomplete="off" type="email" [(ngModel)]="postData.email" name="email">
                  <div slot="label">E-mail <ion-text color="danger">*</ion-text></div>
                </ion-input>
              </ion-item>
      
              <ion-item>
                
                <ion-input labelPlacement="floating" autocomplete="off" type="password" [(ngModel)]="postData.password" name="password">
                  <div slot="label">Senha <ion-text color="danger">*</ion-text></div>
                </ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating" color="dark">Empresa</ion-label>
                <ion-input label="" autocomplete="off" type="text" [(ngModel)]="postData.company" name="company"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating" color="dark">Linkedin</ion-label>
                <ion-input label="" autocomplete="off" type="text" [(ngModel)]="postData.linkedin" name="linkedin"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="floating" color="dark">Telefone</ion-label>
                <ion-input label="" autocomplete="off" type="text" [(ngModel)]="postData.phone" name="phone"></ion-input>
              </ion-item>

              <ion-item>
                <ion-toggle [ngModel]="postData.is_staff" (ionChange)="changeStaff($event)" name="is_staff">Organizador de eventos</ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label position="floating" color="dark">
                </ion-label>
                <div>Foto<ion-text color="danger">*</ion-text></div>
                <ion-button (click)="takePicture()"> 
                  <ion-icon lazy="true" slot="start" name="image"></ion-icon> 
                  {{imageStateMessage}}
                </ion-button>
              </ion-item>
      
              <ion-button expand="full" type="submit">Registrar</ion-button>
            </form>
      
            <div class="register-link">
              <p>Já tem uma conta? <a routerLink="/profile/login">Entrar</a></p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
