<ion-header class="header">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar show-clear-button="focus" [(ngModel)]="searchTerm" (input)="filtrarEventos($event)" color="light" class="search-bar" animated="true"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Arraste para atualizar..."
      refreshingSpinner="crescent"
      refreshingText="Atualizando..."
    ></ion-refresher-content>
  </ion-refresher>



  <ion-card *ngFor="let event of eventosFiltrados" (click)="goToEventDetails(event.event_id)">
    <img [src]="event.photo" alt="{{ event.name }}" />
    <ion-card-header>
      <ion-card-title>{{ event.name }}</ion-card-title>
      <ion-card-subtitle>{{ event.date | date: 'dd MMM yyyy' }} - {{event.place}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ng-container *ngIf="isStaff===true">
    <ion-fab  slot="fixed" horizontal="end" vertical="bottom" (click)="goToCreateEvent()">
      <ion-fab-button color="tertiary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>

</ion-content>

